<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>458859063103-mt49j366cag3af0jr10n4fjkjvkj7hm7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458859063103-mt49j366cag3af0jr10n4fjkjvkj7hm7</string>
	<key>API_KEY</key>
	<string>AIzaSyCmiU5YJfENHiaCFmQpUb0Q80AhBTHYjyM</string>
	<key>GCM_SENDER_ID</key>
	<string>458859063103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.newgameplus.app1</string>
	<key>PROJECT_ID</key>
	<string>uberrun-35d2e</string>
	<key>STORAGE_BUCKET</key>
	<string>uberrun-35d2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458859063103:ios:26ea9ab4f89c3c87ee158a</string>
</dict>
</plist>